.model__menu_item {
  max-width: 255px;
  min-height: 350px;
  margin: 20px;
  padding: 20px;
  position: relative;

  
  span{
    position: absolute;
    &::before,
    &::after{
      content: '';
      background-color: #D7B399;
      position: absolute;
    }
    &:nth-of-type(1){
      top: 0;
      left: 0;
      &::before{
        height: 1px;
        width: 30px;
      }
      &::after{
        height: 30px;
        width: 1px;
      }
    }
    &:nth-of-type(2){
      top: 0;
      right: 0;
      &::before{
        height: 1px;
        width: 30px;
        right: 0;
      }
      &::after{
        height: 30px;
        width: 1px;
      }
    }
    &:nth-of-type(3){
      bottom: 0;
      right: 0;
      &::before{
        height: 1px;
        width: 30px;
        right: 0;
      }
      &::after{
        height: 30px;
        width: 1px;
        bottom: 0;
      }
    }
    &:nth-of-type(4){
      bottom: 0;
      left: 0;
      &::before{
        height: 1px;
        width: 30px;
        left: 0;
      }
      &::after{
        height: 30px;
        width: 1px;
        bottom: 0;
      }
    }
  }
}
.model {
  margin-bottom: 150px;
}
.model__menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 100px;
}
h3 {
  font-family: 'Montserrat Bold';
  font-size: 36px;
  margin-bottom: 100px;
}

.model__menu_item {
  p {
    text-align: center;
    font-family: 'Montserrat Bold';
  &:nth-of-type(1) {
    font-size: 14px;
  }
  &:nth-of-type(2) {
    font-size: 18px;
    color: #D7B399;
  }
}
}
.model__btn {
  display: flex;
  justify-content: center;
   button {
    font-family: 'Montserrat Thin';
    padding: 15px 30px;
    font-size: 23px;
  }
}